
:root {
    --primary-color: #d8acac;
    --secondary-color: #9ECAD6;
    --accent-color: #fa9d9d;
    --neutral-color: #748DAE;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--neutral-color);
    padding-top: 60px; 
    color: aliceblue;
}
/* Counter Component Styles */
.contanier{
    display: block;
    text-align: center;
    height: 80vh;
    padding: 20px auto;
}



/* ToDo Component Styles */
.todo-container {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  color: var(--neutral-color);
  background-color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(9, 133, 170, 0.5);
}

.todo-container h2 {
  text-align: center;
  margin-bottom: 10px;
}


.todo-container input[type="text"] {
  width: 70%;
  padding: 6px;
  margin-right: 5px;
}

input[type="button"] {
  padding: 6px 10px;
  cursor: pointer;
}

.add-btn {
  background-color: #4caf50;
  color: white;
  border: none;
}

.delete-all {
  margin-top: 10px;
  background-color: #f44336;
  color: white;
  border: none;
}

.delete-all:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  margin-top: 5px;
  border-bottom: 1px solid #eee;
}

.button-group input {
  margin-left: 5px;
}

.delete {
  background-color: #e53935;
  color: white;
  border: none;
}

.edit {
  background-color: #2196f3;
  color: white;
  border: none;
}
