
:root {
    --primary-color: #d8acac;
    --secondary-color: #9ECAD6;
    --accent-color: #fa9d9d;
    --neutral-color: #748DAE;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--neutral-color);
    padding-top: 60px; 
}

/* Navbar */
nav {
    background-color: var(--accent-color);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--neutral-color);
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

/* Card */
.card-container {
    display: flex;
    flex-wrap: wrap;       
    justify-content: center; 
    gap: 20px;             
    padding: 20px;
}

.card {
    flex: 1 1 300px;       
    max-width: 300px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: 60%;
    border-radius: 8px;
}
.card button {
    background-color: var(--accent-color);
    border: none;
    padding: 10px 15px;
    color: var(--neutral-color);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
.card button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
/* Header */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.hero-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  object-fit: cover;
}

.hero-content {
  max-width: 600px;
}

.hero-content {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 25px;
  padding: 70px;
}

.hero-content button {
  padding: 12px 28px;
  background-color: var(--accent-color);
  color: var(--neutral-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.hero-content button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    max-width: 100%;
  }
}

